{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        <h2>recherche prestataire formulaire</h2>
    </div>
    <div>
        <h2>prestaires recents et service du mois</h2>
    </div>

{% endblock %}
