{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="containerNewPrestaire">

        <h1>nouveaux prestataires</h1>
        <div class="grid-container-bodyHome">

            <div class="PictureNewPrestaire"></div>
            <div class="PictureNewPrestaire"></div>
            <div class="PictureNewPrestaire"></div>
            <div class="PictureNewPrestaire"></div>

        </div>
        <div class="containerServiceMois">
            <h1>service du mois</h1>
            <div class="PictureServiceMois"></div>
        </div>
    </div>


{% endblock %}
