*,
*::before,
*::after {

  box-sizing: border-box;

}

html{

  font-size: 14px;
  font-family: 'Roboto',sans-serif;
}

body{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: map-get($color,background-principal);

}
/*footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}*/

ul{

  margin: 0;
  padding: 0;

}

li{

  list-style: none;

}

a{

  text-decoration: none;

}


