.l-header-main{
  //width: 100%;
}

.l-header-logo{
 // margin: 1rem;
  img{
    height: 5rem;
  }
  h1 {
    margin: -1rem 0rem 0rem 1rem;
    font-size: 1rem;
    color: map-get($color, first);

    &::first-letter {
      text-transform: uppercase;
    }
  }

}
.langue{

  p{
    margin: 1rem;

    font-size: 1rem;
    color: map-get($color,seconde);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

}
.slider{
  display: block;
  width: 100%;

}
.carousel-item{
  //height: 20rem;
}
@media (min-width: 500px){

  .langue{
    position: absolute;
    left: 85%;
    top: 3rem;

  }
}
