.l-header-main{
  //width: 100%;
}

.l-header-logo{
  margin: 1rem;
  img{
    height: auto;
  }
  h1 {
    margin: -4rem 0rem 0rem 2rem;
    font-size: 1.5rem;
    color: map-get($color, first);

    &::first-letter {
      text-transform: uppercase;
    }
  }

}
.langue{

  p{
    margin: 0rem;

    font-size: 2rem;
    color: map-get($color,seconde);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

}
.slider{
  display: block;
  width: 100%;
  height: 20rem;


  /*p{
    display: block;
    margin: 0rem;

    font-size: 4rem;
    text-align: center;

  }*/

}
@media (min-width: 720px){

  .langue{
    position: absolute;
    left: 85%;
    top: 3rem;

  }
}
