.fas{
  position: absolute;
  left: 90%;
  top: 3rem;

  color:  map-get($color, first);
  font-size: 4rem;
}
/* menu*/
.l-header-nav{
  display: none;
  /*pour qu'a l'ouverture le menu ce place au-dessous de tout les éléments*/
  /*position: absolute;*/
  width: 90%;
}

.l-header-nav-wrap{
  li {
    margin: 1.5rem 1rem;

    &::first-letter {

      text-transform: uppercase;
    }
    a {
      font-size : 2rem;
      color: map-get($color,first)
    }
  }
}