//style mobile
.icon-menu{
  position: absolute;
  left: 80%;
  top: 1rem;

  a{
    color:  map-get($color, first);
    font-size: 4rem;
  }
}
/*@keyframes translateMenu {

  0% {

    transform: translate(-50rem);
  }

  100% {

    transform: translate(0rem);
  }

}*/


.l-header-nav{
  display: none;
  /*pour qu'a l'ouverture le menu ce place au-dessous de tout les éléments*/
  position: absolute;
  width: 100%;

}

.l-header-nav.is-active {

  display: block;
  background-color: map-get($color,fourth);
  //animation: translateMenu 1s ;

}
.wrap{
  width: 100%;
  height: 50px;
  margin: 0;
  z-index: 99;
  position: relative;

}
/*contenu menu*/

.l-header-nav-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 50px;
  margin: 0;
  position: relative;

  li {
    z-index: 1;
    margin: 1rem 1rem;

    height: auto;
    width: 100%;
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
   // background-color: #444444;

    a {
      font-size : 1rem;
      font-weight: bold ;
      color: map-get($color,first);

      padding: 0.5rem 0;
      color: map-get($color,first);
      display: block;
      &::first-letter {
        text-transform: uppercase;
      }
    }

    li:hover, a:hover {
      background-color: map-get($color,seconde);
    }

    /* mise en cache par defaut du menu deroulant*/

    li ul{
      display: none;
      height: auto;
      margin: 0;
      padding: 0;
    }
    li:hover ul {
      display: block;
    }
  }
}

@media (min-width: 500px){

  .l-header-nav.is-active {
    display: none;
  }
  .icon-menu{
    display : none;
  }

  .l-header-nav {

    display: block;
    position: relative;

  }
 .l-header-nav-wrap{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li{
      margin: 0 1rem;
      a {
       // font-size : 1rem;
        font-weight: normal;
      }
    }

  }

}
