<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <header>
        {% block header %}
            <div class ='l-header-logo'>
                <img src="#" alt="logo annuaire bien être" title="logo annuaire bien être">
            </div>
            <div id="burgerMenu">
                <div class = "icon-menu">
                    {#lien fontwesome pour icone burger #}
                    {# <a href="#" class="fas fa-bars"></a> #}
                </div>
                <div>
                    <nav>
                        <ul>
                            <li><a href="#">categorie</a></li>
                            <li><a href="#">a propos</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">mon compte</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        {% endblock %}
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
    <footer>
        {% block footer%}
            <h2>annuaire bien être</h2>
            <div>
                <ul>
                    <li><a href="#">newsletter</a></li>
                    <li><a href="#">a propos</a></li>
                    <li><a href="#">contactez-nous</a></li>
                </ul>
            </div>
        {% endblock %}
    </footer>
</html>
