<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <header class="l-header-main">
        {% block header %}

            <div class ='l-header-logo'>
                 <img src="{{ asset('build/pictures/logo2.png') }}" alt="logo annuaire bien être" title="logo annuaire bien être">

                <h1 class="logo-title">annuaire bien être</h1>
            </div>
            <div id="burgerMenu">
                <div class ="icon-menu">
                    {#lien fontwesome pour icone burger #}
                    <a href="#" class="fas fa-bars"></a>
                </div>
                <div class="l-header-nav">
                    <nav class="l-header-nav-wrap">
                        <ul>
                            <li><a href="#">categorie</a></li>
                            {# faire menu derouland pour categorie en lien avec la bd sera dynamique #}
                            <li><a href="#">a propos</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">mon compte</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        {% endblock %}
    </header>
    <body>
        <div class="langue">
            <p>fr | nl</p>
        </div>
        <div class="slider">
            <p>Slider</p>
        </div>
        <div class="recherche">

        </div>
        {% block body %}{% endblock %}
    </body>
    <footer>
        {% block footer%}
            <div class="l-footer-main">
                <h2>annuaire bien être</h2>
                <div>
                    <ul class="nav-footer">
                        <li><a href="#">newsletter</a></li>
                        <li><a href="#">a propos</a></li>
                        <li><a href="#">contactez-nous</a></li>
                    </ul>
                </div>
            </div>
        {% endblock %}
    </footer>
</html>
