{% extends 'base.html.twig' %}

{% block title %}description service{% endblock %}

{% block body %}


<div class="card" style="width: ">
    <img src="{{ asset('build/pictures/services/servicePrestataire.jpeg') }}" class="card-img-top" alt="illustration service">
    <div class="card-body">
        <h5 class="card-title">{{ description.nomService }}</h5>
        <p class="card-text">{{ description.description}}</p>
    </div>

    <div class="card-body">
        <a href="#" class="card-link">consulter prestataires du service</a>
        <!-- <a href="#" class="card-link">Another link</a>-->
    </div>
</div>


{% endblock %}